extends ../layout
block title
 title Contato
block content
 h1 CONTATO
 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quasi deserunt totam ducimus quisquam, maiores nihil corporis recusandae cupiditate odit assumenda expedita aliquam cum beatae. Voluptatem, doloribus, tempora. Iure, esse.