extends ../layout
block title
 title Página sobre
block content
 div.row
  div.col-lg-12
   h1 SOBRE
   p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus voluptatibus omnis doloremque adipisci, voluptas exercitationem. Ipsa architecto ea praesentium accusantium, exercitationem maiores mollitia itaque optio minima rem voluptate cum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus voluptatibus omnis doloremque adipisci, voluptas exercitationem. Ipsa architecto ea praesentium accusantium, exercitationem maiores mollitia itaque optio minima rem voluptate cum!
   p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus voluptatibus omnis doloremque adipisci, voluptas exercitationem. Ipsa architecto ea praesentium accusantium, exercitationem maiores mollitia itaque optio minima rem voluptate cum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus voluptatibus omnis doloremque adipisci, voluptas exercitationem. Ipsa architecto ea praesentium accusantium, exercitationem maiores mollitia itaque optio minima rem voluptate cum!
   p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus voluptatibus omnis doloremque adipisci, voluptas exercitationem. Ipsa architecto ea praesentium accusantium, exercitationem maiores mollitia itaque optio minima rem voluptate cum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minus voluptatibus omnis doloremque adipisci, voluptas exercitationem. Ipsa architecto ea praesentium accusantium, exercitationem maiores mollitia itaque optio minima rem voluptate cum!

 div.row
  div.col-lg-4.col-md-4.col-sm-4
   div#missao.thumbnail
    img(src="/img/sobre/missao.png")
    div.caption
     h2 Missão
     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nemo omnis, saepe quidem, et eos? Quod in, architecto nostrum velit? Explicabo, cumque, iusto. Eligendi vero quaerat recusandae, officia nostrum aspernatur!
     a(href="/sobre/valor").btn.btn-primary Saiba mais
  div.col-lg-4.col-md-4.col-sm-4
   div#visao.thumbnail
    img(src="/img/sobre/visao.png")
    div.caption
     h2 Visão
     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nemo omnis, saepe quidem, et eos? Quod in, architecto nostrum velit? Explicabo, cumque, iusto. Eligendi vero quaerat recusandae, officia nostrum aspernatur!
     a(href="/sobre/valor").btn.btn-primary Saiba mais
  div.col-lg-4.col-md-4.col-sm-4
   div#valor.thumbnail
    img(src="/img/sobre/valor.png")
    div.caption
     h2 Valor
     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nemo omnis, saepe quidem, et eos? Quod in, architecto nostrum velit? Explicabo, cumque, iusto. Eligendi vero quaerat recusandae, officia nostrum aspernatur!
     a(href="/sobre/valor").btn.btn-primary Saiba mais
  
  